//all font styling (typography) should appeaer in this category.
.heading-primary {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: var(--color-primary-main);
    
}

.heading-primary2 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    //color: var(--color-primary-main);
    
}